.home-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.home-header {
  text-align: center;
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
}

.home-header h1 {
font-size: 2.5rem;
margin-bottom: 1rem;
}

.home-header p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: #2d2d2d;
  color: #fff;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #444;
}

.home-categories, .home-blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categories-list, .blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.categories-card, .blog-card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-card h3, .blog-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.categories-card p , .blog-card p {
  color: #555;
  font-size: 1.3rem;
}

.btn-small {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  background-color: #2d2d2d;
  color: #fff;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn-small:hover {
  background-color: #444;
}
 
