.login-container {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.input-group.valid {
    border-color: green;
    background-color: #e0ffe0;
}

.input-group.invalid {
    border-color: red;
    background-color: #ffe0e0;
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}