.login-container {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.login-container form {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    font-size: 1rem;
}

.login-container input ::placeholder {
    color: #aaa;
}

.login-container  {
    padding: 0.6rem;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}