.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.register-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #333;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container input,
.register-container select {
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
}

.register-container inpu:focus,
.register-container select:focus {
    border-color: #4f46e5;
}

.register-container button {
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.register-container button:hover {
    background-color: #4338ca;
}

.register-container p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.register-container p a {
    color: #4f46e5;
    text-decoration: none;
}

.register-container p a:hover {
    text-decoration: underline;
}