.navbar {
    width: 100%;
    padding: 2px;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2b2b2b;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #7da3ff;
    text-decoration: none;
}

.navbar a {
    color: #d5d5d5;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
}

.navbar a:hover {
    color: white;
    transform: translateY(-2px);
}

.welcome {
    color: #9bb8ff;
    font-weight: 600;
    margin-right: 10px;
}

.logout-btn {
    padding: 8px;
    background: #7da3ff;
    border: none;
    color: #121212;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

