.navbar {
    display: flex;
    justify-content:space-between;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
}

.logo {
    color: #4da6ff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-link.active {
    color: #4da6ff;
    font-weight: bold;
}

.nav-link:hover {
    color: #4da6ff;
}

.nav-btn {
    background: #4da6ff;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #1d8bff;
}

.welcome {
    font-size: 15px;
    color: #ccc;
}

.logout-btn {
    background: #ff4d4d;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: 0;
}

.logout-btn:hover {
    background: #e60000;
}